<ng-container *ngIf="players">
  <ng-container *ngIf="players.length > 0; else noPlayer">
    <div class="row mb-2 p-2 player-row" *ngFor="let player of players">
      <div class="col-4">
        <img [src]="player.thumbnail" [alt]="player.name" />
      </div>

      <div class="col-8">
        <div>
          <div class="row name">
            {{ player.name }}
          </div>
          <div class="row">
            {{ player.position }}
          </div>
          <div class="row">birthDate: {{ player.born | date: 'YYYY-MM-dd' }}</div>
          <div class="row">
            price:
            <ng-container *ngIf="player.signin.amount; else free">
              {{ player.signin.amount | currency: (player.signin.currency | uppercase) }}
            </ng-container>
            <ng-template #free><span>Free</span></ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noPlayer><span id="no-player">No player found</span></ng-template>
</ng-container>
