<ng-container *ngIf="teams">
  <div class="row">
    <ng-container *ngIf="teams.length > 0; else noTeam">
      <ng-container *ngFor="let team of teams; let index = index">
        <div class="col-6 text-center" [routerLink]="'/teams/' + team._id + '/players'">
          <div>
            <img [src]="team.thumbnail" [alt]="team.name" />
          </div>
        </div>
        <div class="w-100 mb-3" *ngIf="(index + 1) % 2 === 0"></div>
      </ng-container>
    </ng-container>

    <ng-template #noTeam><span id="no-team">No team found</span></ng-template>
  </div>
</ng-container>
